@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    60 Gordon Rd<br />
    Fairfield Estate<br />
    Parow East<br />
    Cape Town<br />
    7500<br />
    <abbr title="Phone">P:</abbr>
    (+27)73 458 9693
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">sthembiled11@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">sthembiled11@gmail.com</a>
</address>